<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navbarController">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">
            <span style="float:left;">
              <img style="width:25px;" src="img/logo.png" />
            </span>
            <span style="float:left; margin:5px;">
             Dev-Notes 
            </span>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
          </ul>
					<span style="float:right">
					<span class="ng-cloak" ng-hide="session.getUser()">
                <p href="#/login">login</a>
              </span>
              <p class="ng-cloak" ng-show="session.getUser()">
                {{ session.getUser() }}
              </p>
					</span>

      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
